/* Template:BattlePassRewardPage/reward: fix image positioning after
   forcing height to fill the entire box (https://stackoverflow.com/a/41059954) */
.reward-image {
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
